/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/dist/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/nbproject/
/__pycache__/
/target/
/venv/
/src/.idea/
/src/.idea/workspace.xml
/src/__pycache__/
/src/target/
/src/main/__pycache__/
/src/main/resources/__pycache__/
/src/main/python/ui/__pycache__/
/src/main/python/math/__pycache__/
/src/main/python/quadtree/__pycache__/
/src/main/python/main_module/__pycache__/
/src/main/python/io/__pycache__/
/src/unittest/python/__pycache__/
src/main/python/__pycache__/
/src/main/resources/nbodysim*
.pytest_cache/
.coverage
/__pycache__
src/main/python/structures/__pycache__/
src/main/python/io/__pycache__/
src/main/python/math/__pycache__/
venv/lib/python3.6/site-packages/
randominput.dat
